In [1]:
%matplotlib inline

import numpy as np
import pylab as plt
import pandas as pd
gdp = pd.read_csv('2014_world_gdp_with_codes.csv')
mig = pd.read_csv('migrants.csv')

In [2]:
gdp = gdp.rename(columns={'COUNTRY':'country'})
GM = pd.merge(gdp,mig ,how='inner', on=['country'])
GM = GM.rename(columns={'GDP (BILLIONS)':'GDP'})
GM2=GM.set_index('GDP')
GM2.head()

            country CODE  Unnamed: 0 ccode  number1000  percentarea under18
GDP
21.71   Afghanistan  AFG           0   AFG         134          0.0      40
13.40       Albania  ALB           1   ALB          52          2.0      47
227.80      Algeria  DZA           2   DZA         249          1.0      20
4.80        Andorra  AND           3   AND          41         53.0       7
131.40       Angola  AGO           4   AGO         638          2.0      47

In [3]:
GM3=GM2.sort_values('GDP',ascending=0)
GM3.head()

         country CODE  Unnamed: 0 ccode  number1000  percentarea under18
GDP
10360.0    China  CHN          36   CHN        1000          0.0      21
4770.0     Japan  JPN          87   JPN        2321          2.0      11
3820.0   Germany  DEU          66   DEU       12165         15.0       5
2902.0    France  FRA          62   FRA        7903         12.0       7
2244.0    Brazil  BRA          24   BRA         736          0.0      14

In [4]:
print(GM3['under18'].loc[4770.0])

11

In [5]:
x=GM3['under18'].loc[:1000].tolist()

In [6]:
y=[]
for i in x:
    y.append(float(i))
print(y)

[21.0, 11.0, 5.0, 7.0, 14.0, 7.0, 6.0, 8.0, 7.0, 8.0, 60.0, 7.0, 27.0, 26.0, 20.0, 6.0, 48.0, 10.0, 13.0, 8.0, 18.0, 11.0, 5.0, 14.0, 31.0, 14.0, 9.0, 16.0, 10.0, 10.0, 7.0, 16.0, 27.0, 11.0, 21.0, 6.0, 14.0, 5.0, 13.0, 6.0, 20.0, 11.0, 14.0, 26.0, 10.0, 42.0, 18.0, 17.0, 5.0, 47.0, 11.0, 21.0, 34.0]

In [7]:
sum(y)/len(y)

16.20754716981132

In [1]:
%matplotlib inline

import numpy as np
import pylab as plt
import pandas as pd
import sys
gdp = pd.read_csv('2014_world_gdp_with_codes.csv')
mig = pd.read_csv('migrants.csv')
gdp = gdp.rename(columns={'COUNTRY':'country'})
GM = pd.merge(gdp,mig ,how='inner', on=['country'])
GM = GM.rename(columns={'GDP (BILLIONS)':'GDP'})
GM2=GM.set_index('GDP')
GM3=GM2.sort_values('GDP',ascending=0)
x=GM3['under18'].loc[:int(sys.argv[1])].tolist()

y=[]
for i in x:
    y.append(float(i))
sum(y)/len(y)

ValueError: invalid literal for int() with base 10: '-f'